---

---

<html>
  <style>
    .container {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 10vh;
      border: 1px solid black;
    }

    .container a {
      padding-left: 4em;
      padding-right: 4em;
    }

    .container p {
      padding-left: 4em;
      padding-right: 4em;
    }

    .text {
      display: block;
      text-align: center;
    }
  </style>

  <div class="container">
    <div class="text">
      <p class="main-text">Made with 💖 by David</p>
      <p class="sub-text">@Pixelglide | @Fletchworks</p>
    </div>
  </div>


</html>
