---
const { navbar_title = "" } = Astro.props;
---

<html>
  <style>
    .wrapper {
      display: flex;
      width: 100vw;
      height: 8vh;

      background-color: white;
    }
    .logo {
      width: 50vw;
      display: flex;
      height: inherit;
      align-items: center;
    }
    .logo img {
      height: inherit;
      color: black;
      padding-left: 1em;
      padding-right: 1em;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }

    .navbar_text {
      width: auto;
      font-family: "Lexend", serif;
      font-weight: 500;
    }

    .links {
      align-items: center;
      justify-content: right;
      display: flex;
      width: 50vw;
      padding-right: 2em;
    }

    .links a {
      padding-left: 2em;
      font-family: "Lexend", sans-serif;
      text-decoration: none;
    }

    .links a:hover {
      text-decoration: underline;
    }
    h1 {
      padding-left: 0.5em;
    }
  </style>

  <div class="wrapper">
    <div class="logo">
      <!--<img src="../../../public/images/logo.svg" /> -->
      <h1 class="navbar_text">{navbar_title}</h1>
    </div>

    <div class="links">
      <a href="/">Home</a>
      <a href="/portfolio/">Portfolio</a>
      <a href="/blog/">Blog</a>
      <a href="https://github.com/ScapularSteam" target="_blank">Github</a>
    </div>
  </div>


</html>
