---
---

<html>
    <style>
        .wrapper{
            width: 100vw;
            height: 8vh;

            

            background-color: blue;
        }
    </style>

    <div class="wrapper">
        <div class="logo">

        </div>
        <div class="links">

        </div>
    </div>
</html>