---
import Default from "../../layouts/default.astro";
import ArticleGridLoader from "../../components/content-sections/article_grid_loader.astro";
---

<Default navbar_title="Blog" tab_title="Fletchworks">
  <style>
    body {
      background-color: #eee9e9;
      margin: 0;
    }
  </style>
  <h1>Blog Posts</h1>
  <ArticleGridLoader />
</Default>
