---
import Default from "../../layouts/default.astro";
import ArticleGridLoader from "../../components/content-sections/article_grid_loader.astro";
---

<Default navbar_title="Blog" tab_title="Fletchworks">
  <style>
    body {
      background-color: #eee9e9;
      margin: 0;
    }
    h1 {
      font-family: "Lexend", sans-serif;
      color: #1b1a1a;
      font-size: 3em;
      padding-left: 1em;
    }
  </style>
  <h1>Blog Posts</h1>
  <ArticleGridLoader />
</Default>
