---
// Fetch articles content collection generated at config.ts
import { getCollection } from "astro:content";
const articles = await getCollection("articles");

// Import components
import ArticleCard from "../elements/article_card.astro";
---

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: fit-content;
  }
</style>

<div class="container">
  <!--Iterate through articles array and map each entry to new article card-->
  {
    articles.map((article) => (
      <ArticleCard>
        <div class="content">
          <h2>{article.data.title}</h2>
          <p>{article.data.description}</p>
          <p class="date">
            {() => {
              const output = "Date Published: " + article.data.date_published;
              return output;
            }}
          </p>
          <a href="">Read now</a>
        </div>
        <div class="wrapper">
          <img src={article.data.cover_image} />
        </div>
      </ArticleCard>
    ))
  }
</div>
