---

---

<style>
  .container {
    display: flex;
  }

  .hero_image {
    height: 100vh;
  }

  .hero_image img {
    height: inherit;
  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    display: block;
    text-align: center;
  }

  * {
    border: 1px solid black;
  }
</style>

<div class="container">
  <div class="hero_image">
    <img
      src="https://gravatar.com/avatar/4751b151e03ceceecc2a9be2f1e1badf21f24b1e9f5adb0f7a83eff0e6d95b21?s=1000"
    />
  </div>

  <div class="intro">
    <div class="text">
      <h1>Hi, I'm David</h1>
      <p>Student software engineer based in the UK</p>
    </div>
  </div>
</div>
