---
import Default from "../../layouts/default.astro";
import ProjectsGrid from "../../components/content-sections/projects_grid.astro";
import ProjectCard from "../../components/elements/project_card.astro";
---

<Default navbar_title="Portfolio" tab_title="Fletchworks">
  <style>
    body {
      background-color: #eee9e9;
      margin: 0;
    }
  </style>

  <!-- Page starts here -->

  <ProjectsGrid>
    <ProjectCard>
      <div class="wrapper">
        <img src="https://picsum.photos/id/237/500/500" />
      </div>
      <h2>Test Project</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique
        aliquam odio at aliquet. Pr
      </p>
      <a href="">Test Link</a>
    </ProjectCard>
    <ProjectCard>
      <div class="wrapper">
        <img src="https://picsum.photos/id/237/500/500" />
      </div>
      <h2>Test Project</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique
        aliquam odio at aliquet. Proin sit amet suscipit nisi, vitae vestibulum
        nisl. Quisque viverra, mi sit amet venenatis ullamcorper, nisl tellus
        ornare sem, quis venenatis sem dui id elit. Proin eget ex quis est
        sagittis vulputate. Nulla ultrices sed metus bibendum commodo
      </p>
      <a href="">Test Link</a>
    </ProjectCard>
    <ProjectCard>
      <div class="wrapper">
        <img src="https://picsum.photos/id/237/500/500" />
      </div>
      <h2>Test Project</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique
        aliquam odio at aliquet. Proin sit amet suscipit nisi, vitae vestibulum
        nisl. Quisque viverra, mi sit amet venenatis ullamcorper, nisl tellus
        ornare sem, quis venenatis sem dui id elit. Proin eget ex quis est
        sagittis vulputate. Nulla ultrices sed metus bibendum commodo
      </p>
      <a href="">Test Link</a>
    </ProjectCard>
    <ProjectCard>
      <div class="wrapper">
        <img src="https://picsum.photos/id/237/500/500" />
      </div>
      <h2>Test Project</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique
        aliquam odio at aliquet. Proin sit amet suscipit nisi, vitae vestibulum
        nisl. Quisque viverra, mi sit amet venenatis ullamcorper, nisl tellus
        ornare sem, quis venenatis sem dui id elit. Proin eget ex quis est
        sagittis vulputate. Nulla ultrices sed metus bibendum commodo
      </p>
      <a href="">Test Link</a>
    </ProjectCard>
    <ProjectCard>
      <div class="wrapper">
        <img src="https://picsum.photos/id/237/500/500" />
      </div>
      <h2>Test Project</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique
        aliquam odio at aliquet. Proin sit amet suscipit nisi, vitae vestibulum
        nisl. Quisque viverra, mi sit amet venenatis ullamcorper, nisl tellus
        ornare sem, quis venenatis sem dui id elit. Proin eget ex quis est
        sagittis vulputate. Nulla ultrices sed metus bibendum commodo
      </p>
      <a href="">Test Link</a>
    </ProjectCard>
    <ProjectCard>
      <div class="wrapper">
        <img src="https://picsum.photos/id/237/500/500" />
      </div>
      <h2>Test Project</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique
        aliquam odio at aliquet. Proin sit amet suscipit nisi, vitae vestibulum
        nisl. Quisque viverra, mi sit amet venenatis ullamcorper, nisl tellus
        ornare sem, quis venenatis sem dui id elit. Proin eget ex quis est
        sagittis vulputate. Nulla ultrices sed metus bibendum commodo
      </p>
      <a href="">Test Link</a>
    </ProjectCard><ProjectCard>
      <div class="wrapper">
        <img src="https://picsum.photos/id/237/500/500" />
      </div>
      <h2>Test Project</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique
        aliquam odio at aliquet. Proin sit amet suscipit nisi, vitae vestibulum
        nisl. Quisque viverra, mi sit amet venenatis ullamcorper, nisl tellus
        ornare sem, quis venenatis sem dui id elit. Proin eget ex quis est
        sagittis vulputate. Nulla ultrices sed metus bibendum commodo
      </p>
      <a href="">Test Link</a>
    </ProjectCard>
    <ProjectCard>
      <div class="wrapper">
        <img src="https://picsum.photos/id/237/500/500" />
      </div>
      <h2>Test Project</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique
        aliquam odio at aliquet. Proin sit amet suscipit nisi, vitae vestibulum
        nisl. Quisque viverra, mi sit amet venenatis ullamcorper, nisl tellus
        ornare sem, quis venenatis sem dui id elit. Proin eget ex quis est
        sagittis vulputate. Nulla ultrices sed metus bibendum commodo
      </p>
      <a href="">Test Link</a>
    </ProjectCard>
    <ProjectCard>
      <div class="wrapper">
        <img src="https://picsum.photos/id/237/500/500" />
      </div>
      <h2>Test Project</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique
        aliquam odio at aliquet. Proin sit amet suscipit nisi, vitae vestibulum
        nisl. Quisque viverra, mi sit amet venenatis ullamcorper, nisl tellus
        ornare sem, quis venenatis sem dui id elit. Proin eget ex quis est
        sagittis vulputate. Nulla ultrices sed metus bibendum commodo
      </p>
      <a href="">Test Link</a>
    </ProjectCard>
  </ProjectsGrid>
</Default>
