---

---

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    min-height: inherit;
    margin: 2em;
    border: 3px solid #a49898;
    border-radius: 20px;
    overflow: hidden;

    padding: 2em;

    background-color: #f7f4f4;
  }
  .container :global(.wrapper) {
    height: inherit;
  }
  .container :global(div img) {
    width: 100%;
    height: inherit;
    display: flex;
    margin: auto;

    border-radius: 18px;
  }
  .container :global(h2) {
    font-family: "Lexend", sans-serif;
    color: #312f2f;
    font-size: 2.5em;
  }
  .container :global(p) {
    font-family: "aleo", serif;
    color: #353333;
    font-size: 1.2em;
  }

  .container :global(.content) {
    width: 80%;
  }
  .container :global(a) {
    display: flex;
    width: fit-content;
    height: fit-content;

    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;

    margin-top: 2em;

    align-items: end;

    border-radius: 10px;
    border: 2px solid #3b3a3a;
    background-color: white;

    font-family: "Lexend", sans-serif;
    text-decoration: none;
  }
</style>

<div class="container">
  <slot />
</div>
