---
import Default from "../../layouts/default.astro";
import ProjectsGrid from "../../components/content-sections/projects_grid.astro";
import ProjectCard from "../../components/elements/project_card.astro";
---

<Default navbar_title="Portfolio" tab_title="Fletchworks">
  <style>
    body {
      background-color: #eee9e9;
      margin: 0;
    }
  </style>

  <!-- Page starts here -->

  <ProjectsGrid>
    <ProjectCard>
      <div class="wrapper">
        <img src="../../../public/images/cover_images/aimify_cover.png" />
      </div>
      <h2>Aimify</h2>
      <h3>In progress</h3>
      <p>
        A modern scoring app for archers, with planned features including cloud
        backups, competitions, and ML powered auto scoring using your phone's
        camera.
      </p>
      <a href="https://aimify.fletchworks.dev/">Visit Aimify</a>
    </ProjectCard>
    <ProjectCard>
      <div class="wrapper">
        <img src="../../../public/images/cover_images/theremin_cover.png" />
      </div>
      <h2>Ultrasonic Theremin</h2>
      <h3>Hardware complete, firmware in progress</h3>
      <p>
        A custom Raspberry Pi sensor HAT (Hardware attached on Top), with 2 sets
        of ultrasonic distance sensors and 5050 LEDs
      </p>
      <a href="">Link coming soon</a>
    </ProjectCard>
    <ProjectCard>
      <div class="wrapper">
        <img src="../../../public/images/cover_images/scrapyard_cover.png" />
      </div>
      <h2>Scrapyard London</h2>
      <h3>Finished</h3>
      <p>
        Organised a 12 hour hackathon for teens in London and the wider UK area,
        managing finances, branding, and communicating with participants and
        sponsors to make the event a reality.
      </p>
      <a href="https://scrapyard.hackclub.com/london">Visit Scrapyard London</a>
    </ProjectCard>
    <ProjectCard>
      <div class="wrapper">
        <img src="../../../public/images/cover_images/deskshelf_cover.png" />
      </div>
      <h2>Minimalistic Desk Shelf</h2>
      <h3>Finished</h3>
      <p>
        A minimalistic desk shelf designed in Fusion 360, and manufactured for
        the NEA (Non Exam Assessment) component of GCSE Design Technology.
      </p>
      <a href="https://github.com/ScapularSteam/minimalist-desk-shelf"
        >View on Github</a
      >
    </ProjectCard>
    <ProjectCard>
      <div class="wrapper">
        <img src="../../../public/images/cover_images/fletchvr_cover.png" />
      </div>
      <h2>SlimeVR Carrier Board</h2>
      <h3>In Progress - Fixing Issues</h3>
      <p>
        A PCB carrier board for the TP4056 board and Wemos D1 Mini to make it
        easier to create trackers for the open source Slime VR project
      </p>
      <a href="https://github.com/ScapularSteam/FletchVR">View on Github</a>
    </ProjectCard>
    <ProjectCard>
      <div class="wrapper">
        <img src="../../../public/images/cover_images/c19_cover.png" />
      </div>
      <h2>C19 Patch</h2>
      <h3>Finished</h3>
      <p>
        A limited production patch designed in Figma commemorating the best
        accomodation tent at RIAT - Charlie 19, better known as C19
      </p>
      <a href="https://c19patch.fletchworks.dev/">View Patch</a>
    </ProjectCard>
  </ProjectsGrid>
</Default>
